:root {
    --text: white;
    --background: rgb(40, 40, 40, 40);
}

form {
    text-align: center;
    margin-top: 50px;
}

.form-title {
    color: var(--text);
}

input {
    margin-top: 25px;
    border-radius: 25px;
    padding: 5px;
    border: none;
}